{% extends 'base.html' %}

{% block title %}Manage Friend Requests{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h3>Received Friend Requests</h3>
        {% if received_requests %}
            <ul class="list-group">
                {% for request in received_requests %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <strong>{{ request.from_user.username }}</strong>
                        </div>
                        <div>
                            <a href="{% url 'respond_friend_request' request.id 'accept' %}" class="btn btn-sm btn-success">Accept</a>
                            <a href="{% url 'respond_friend_request' request.id 'reject' %}" class="btn btn-sm btn-danger">Reject</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No friend requests received.</p>
        {% endif %}
    </div>
</div>
{% endblock %}